body, html
{
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}

.slide
{
	font-family: 'Barlow Condensed', sans-serif;
	width: 45vw;
}

.slide h1
{
	color: white;
	margin-bottom: 100vh;
	font-size: 2.6em;
	margin-top: 30vh;
}

.slide p 
{
	color: white;
	font-size: 2em;
	margin: 100vh 0;
	width: 80%;
}

.right{
	float: right;
}

.left{
	float: left;
	padding-left:50px;
}

.bgimg
{
	position: relative;
	opacity: 0.9;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300vh;
}

.last{
	min-height: 150vh;
}

.s-1
{
	background-image: url("images/coffee.gif");
	height: auto;
}

.s-2
{
	background-image: url("images/train.jpeg");
}

.s-3
{
	background-image: url("images/Atelier.gif");
}

.s-4
{
	background-image: url("images/AtelierCoffee.gif");
}

.s-5
{
	background-image: url("images/mensa.jpg");
}

.s-6
{
	background-image: url("images/towerfalls.gif");
}

.s-7
{
	background-image: url("images/mountainBeer.gif");
}

.s-8
{
	background-image: url("images/zugverspaetung.gif");
}

.s-9
{
	background-image: url("images/dinner.jpg");
}

.s-10
{
	
}

.caption
{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}

.caption span.border
{
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}

h3
{
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
	
}

.whatsappImageContainer
{
	height: 100vh;
}

.whatsappImage
{
	/*
	height: 100%;
	width: 100%;
	*/
	height: 100vh;
	object-fit: cover;
}

#whatsAppTriggerBlock03
{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
}

#whatsAppBlock03
{
	/*width: 100%;*/
	/*height: 100%;*/
	position: absolute;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px)
{
	.bgimg-1, .bgimg-2, .bgimg-3
	{
			background-attachment: scroll;
	}
}